:root {
  --chocolate: #5f3310;
  --white: white;
  --tan: #ad8a60;
  --textShadow: 0px 0px 10px;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f2e8db;
}
header {
  text-align: center;
  height: 350px;
  width: 100%;
  color: var(--white);
}
#header-img {
  width: 100%;
  height: 95%;
  border-style: solid;
  border-color: white;
  border-width: thick;
}

.nav {
  font-family: "Sacramento", cursive;
  font-weight: bold;
  list-style-type: none;
  justify-content: center;
  font-size: 1.9rem;
  margin-top: 0%;
  color: black;
}

.one {
  padding: 2%;
  background-color: #ca9f92;
  border-style: solid;
  border-color: white;
  border-width: thick;
}
.two {
  padding: 2%;
  background-color: #1f6566;
  border-style: solid;
  border-color: white;
  border-width: thick;
}
.three {
  padding: 2%;
  background-color: #bc7832;
  border-style: solid;
  border-color: white;
  border-width: thick;
}

.nav:hover {
  color: white;
}

#bio-img {
  border-style: solid;
  border-color: white;
  border-width: thick;
  width: 33%;
  margin-left: 33%;
  margin-top: 7%;
}
main {
  font-family: "Architects Daughter", cursive;
}
.flex-container {
  display: flex;
}
aside {
  font-family: "Sacramento", cursive;
  color: black;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.work {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 10%;
}
#Work {
  margin-top: 10%;
}

.work-card {
  text-align: center;
  width: 500px;
  height: 900px;
}
.work-card a:hover {
  color: black;
}

.card.text {
  background-color: #1f6566;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  padding: 2%;
}

.text a {
  color: white;
  font-weight: bold;
}

.text p a {
  text-decoration: none;
}

#About-Me {
  display: flex;
  flex-direction: column;
  color: var(--white);
}
#About-Me h2 {
  color: black;
  text-shadow: 0px 0px 100px #ca9f92;
}

#About-Me h3 {
  margin-left: 10%;
  background-color: #ca9f92;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1%;
}

#Contact {
  display: flex;
  flex-direction: column;
  color: var(--white);
  text-shadow: var(--textShadow) var(--chocolate);
}

#Contact ul {
  font-family: "Sacramento", cursive;
  color: black;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  text-shadow: 0px 0px 100px #ca9f92;
  font-weight: 900;
  font-size: 1.5rem;
}
#Contact a {
  color: black;
  font-size: 2rem;
}
#Contact a:hover {
  color: white;
}
.work-card:first-child {
  flex: 1 1 100%;
}
#instructions {
  font-family: "Montserrat", sans-serif;
  color: #1f6566;
  background-color: white;
  border-style: solid;
  border-color: #1f6566;
  font-weight: bold;
  font-size: larger;
}

.main a:hover {
  text-shadow: 0 0 15px var(--tan);
}
