body {
  background: radial-gradient(var(--chocolate) 3px, transparent 4px),
    radial-gradient(var(--white) 3px, transparent 4px),
    linear-gradient(var(--tan) 4px, transparent 0),
    linear-gradient(
      45deg,
      transparent 74px,
      transparent 75px,
      var(--tan) 75px,
      var(--chocolate) 76px,
      transparent 77px,
      transparent 109px
    ),
    linear-gradient(
      -45deg,
      transparent 75px,
      transparent 76px,
      var(--tan) 76px,
      var(--chocolate) 77px,
      transparent 78px,
      transparent 109px
    ),
    var(--tan);
  background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}
